@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Muli');

* {
  box-sizing: border-box;

  --c1: #00875F;
  --c2: #007352;
  --c3: #10C672
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  padding: 30px;
  max-width: 1000px;
  text-align: center;
}

.background {
  background: url('https://images.unsplash.com/photo-1531972111231-7482a960e109?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80') no-repeat center center/cover;
}

.code-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 40px;
}

.code {
  caret-color: transparent;
  border-radius: 5px;
  font-size: 75px;
  height: 120px;
  width: 100px;
  border: 1px solid #eee;
  margin: 1%;
  text-align: center;
  font-weight: 300;
  -moz-appearance: textfield;
}

.code::-webkit-outer-spin-button,
.code::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.code:valid {
  border: 1.5px solid var(--c1);
  box-shadow: 0 6px 10px -5px rgba(0, 0, 0, 0.25);
}

.code:focus {
  outline: 1px solid #000;
}

.info {
  display: inline-block;
  padding: 10px;
  line-height: 20px;
  max-width: 400px;

  border-radius: 5px;
}

.info:has(p) {
  background-color: #eaeaea;
  color: #777;
}

@media (max-width: 600px) {
  .code-container {
    flex-wrap: wrap;
  }

  .code {
    font-size: 60px;
    height: 80px;
    max-width: 70px;
  }
}

button {
  background-color: var(--c1);
  color: #fff;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 10px 50px;
  border-radius: 5px;
  transition: .3s;
}

/* Button */

input[type=button]:hover, .btn:hover, button:hover {
  filter: brightness(90%);
  scale: 105%;
}

input[type=button]:active, .btn:active, button:active {
  filter: brightness(70%);
  scale: 90%;
}

/*: Footer */

footer {
  margin: auto;
}

footer, footer a {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  transition: 0.3s;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  font-size: 12px;
}

footer a:hover {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: underline;
}