body {
  font-family: 'Lato';
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
  background-color: var(--c1);
}

ul {
  list-style: none;
  cursor: pointer;
  /* list-style-type: none; */
  line-height: 50px;
  position: relative;
  top: 80px;
}

li i {
  margin-right: 15px;

}

li:hover {
  text-decoration: underline;
}

.container {
  padding: 50px 400px;
  /* width: 100vw; */
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  transition: transform 0.5s linear;
  min-height: 120vh;
  transform-origin: top left;
  z-index: 2;
}

@media (max-width:1000px) {
  .container {
    padding: 50px 80px;
  }
}

.container.show-nav {
  transform: rotate(-20deg);
  transform-origin: top left;
}

nav {
  color: #fff;
  position: relative;
  top: 400px;
}

.circle-container {
  position: fixed;
  top: -75px;
  left: -75px;
  z-index: 3;
}

.circle {
  border: 6px solid var(--c2);
  background-color: #fff;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  transition: transform 0.5s linear;

}

.circle button {
  position: absolute;
  top: 40%;
  left: 35%;
  height: 100px;
  width: 100px;
  background: transparent;
  border: 0;
  color: var(--c2);
  font-size: 26px;
  cursor: pointer;
}

.circle button i {
  width: 50px;
  height: 50px;
}

.hidden {
  display: none;
}

footer {
  position: fixed;
  color: #fff;
  bottom: 15px;
  left: 20px;
  z-index: 0;
}

footer a {
  color: #fff;
}

footer a:hover, footer:hover {
  text-decoration: underline;
  color: #fff;
}

p {
  margin-top: 0px !important;
  line-height: 30px;
  text-indent: 30px;
}

h1 {
  margin-bottom: 10px;
}

.amsterda {
  margin: 10px 0px;
  object-fit: cover;
}

/* Azure combina com essa paleta */