@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Muli');

* {
	box-sizing: border-box;

	--c1: #00875f;
	--c2: #007352;
	--c3: #10c672;
}

body {
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	margin: 0;
}

.container {
	border-radius: 5px;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	width: 500px;
}

.title {
	margin: 0;
}

.subtitle {
	display: inline-block;
	margin: 5px 0 8px;
	opacity: 0.8;
}

.header {
	background-color: var(--c1);
	color: #fff;
	padding: 30px 20px 20px 20px;
}

.header input {
	background-color: rgba(0, 0, 0, 0.3);
	border: 0;
	border-radius: 10px;
	color: #fff;
	font-size: 14px;
	padding: 10px 15px;
	width: 100%;
}

.header input:focus {
	outline: none;
}

.header input::placeholder {
	color: #ffffff94;
}

.user-list {
	background-color: #fff;
	list-style-type: none;
	margin: 0;
	padding: 0;
	max-height: 600px;
	overflow-y: auto;
}

.user-list li {
	display: flex;
	padding: 20px;
}

.user-list img {
	border-radius: 50%;
	object-fit: cover;
	height: 50px;
	width: 50px;
}

.user-list .user-info {
	margin-left: 10px;
}

.user-list .user-info h4 {
	margin: 0 0 10px;
}

.user-list .user-info p {
	font-size: 12px;
}

.user-list li:not(:last-of-type) {
	border-bottom: 1px solid #eee;
}

.user-list li.hide {
	display: none;
}

/* Button */

.buttonsLine {
	display: flex;
	margin-top: 10px;
}

.buttonsLine label {
	font-size: 12px;
	color: hsl(0, 0%, 80%);
}

.buttonsLine > * {
	flex-grow: 1;
	
}

.buttonsLine > input {
	background-color: var(--c2);
	color: #fff;
	background-color: rgba(0, 0, 0, 0.3);
	border: 0;
	border-radius: 10px;
	color: #fff;
	font-size: 14px;
	padding: 10px 15px;
	width: 100%;
}

input[type='button']:hover,
.btn:hover {
	filter: brightness(90%);
	scale: 105%;
}

input[type='button']:active,
.btn:active {
	filter: brightness(70%);
	scale: 90%;
}

/*: Footer */

footer {
	margin: auto;
}

footer,
footer a {
	color: rgba(0, 0, 0, 0.5);
	text-decoration: none;
	transition: 0.3s;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
	font-size: 12px;
}

footer a:hover {
	color: rgba(0, 0, 0, 0.8);
	text-decoration: underline;
}
