body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: auto;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 90vw;
  margin: auto;
  margin-bottom: 0px;
}

.panel {
  height: 80vh;
  width: 15vw;
  border-radius: 15px;
  color: #fff;

  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  margin: 10px;
  flex: 0.5;

  transition: flex 0.5s ease-in;
  position: relative;
  flex-direction: column;
  display: flex;
  justify-content: end;
}


/*: TEXTO */

.panel h3 {
  filter: drop-shadow(1px 1px 1px #000);
  text-align: left;
  opacity: 0;
  transition: opacity 0.8s ease-in;
  bottom: 20px;
  margin-bottom: 20px;
  margin-left: 20px
}

/*: RESPONSIVIDADE */

@media (max-width: 800px) {
  .panel:nth-of-type(5) {
    display: none;
  }
}

@media (max-width: 500px) {

  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4), .panel:nth-of-type(5) {
    display: none;
  }
}

/*: Active */

.active {
  flex: 5;
}

.active h3 {
  opacity: 1;
  transition: opacity 0.8s ease-in 0.3;
}