@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

*, h1, h2, h3 {
  font-family: 'Muli', Arial, Helvetica, sans-serif;
  font-weight: 400;


  --c1: #00875F;
  --c2: #007352;
  --c3: #10C672
}

body {
  background-color: #fff;
}

input[type=button], button {
  min-width: 80px;
  height: 35px;
  background-color: var(--c1);
  color: #fff;
  transition: 0.3s;
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
}

.m {
  margin: auto
}

.btn-b {
  background-color: #fff !important;
  color: var(--c1) !important;
  border: 2px solid var(--c1) !important;
}