@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Muli');

* {
  box-sizing: border-box;

  --c1: #00875F;
  --c2: #007352;
  --c3: #10C672
}

body {
  background-color: rgb(205, 223, 210);
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-top: 3rem;
}

main {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: auto;
}

@media (max-width: 1200px) {
  main {
    width: 95%;
  }
}

.add {
  position: fixed;
  border: none;
  cursor: pointer;
  top: 1rem;
  right: 1rem;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  background-color: var(--c2);
  color: #fff;
}

.hidden {
  display: none;
}

.note {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  margin: 30px 20px;
  width: 400px;
  height: 300px;
  border-radius: 10px;
  position: relative;
}

.label {
  padding: 0px 15px;
  opacity: 0;
}

.editMode .label {
  opacity: 100;
  transform: translateY(+3px);
}

.editMode .info {
  display: none;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.info {
  position: absolute;
  bottom: 8px;
  right: 8px;
  color: hsla(0, 0%, 0%, 0.50);
  font-size: 0.8rem;
}

.note .header {
  background-color: var(--c1);

  display: flex;
  /* flex-direction: row; */
  padding: 0.5rem;
  border-radius: 10px 10px 0 0;
}

.note .header button {
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 1rem;
  margin-left: 0.5rem;
}

.note textarea {
  font-family: inherit;
  outline: none;
  border: 2px solid var(--c1);

  font-size: 1rem;
  height: 300px;
  min-height: 300px;
  max-height: 800px;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  padding: 20px;
}

.main {
  padding: 20px;
  height: 300px;
  border-radius: 10px 10px 0 0;
}

.main p {
  word-wrap:  break-word;
}

/* Button */

main button:hover {
  scale: 120%;
}

input[type=button]:hover, .btn:hover, button:hover {
  filter: brightness(90%);
}

input[type=button]:active, .btn:active, button:active {
  transition: .3s;
  filter: brightness(70%);
  scale: 90%;
}

/*: Footer */

footer {
  margin: auto;
}

footer, footer a {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  transition: 0.3s;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  font-size: 12px;
}

footer a:hover {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: underline;
}